<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RH29JV6H75"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RH29JV6H75');
</script>
</head>

<style>
$bg-size-end: 4.2;
$dur: 0.7s;
bg

html { box-sizing: border-box; height: 100%; font-size: 10px; } *, *::before, *::after { box-sizing: inherit; }

# .first {
#   display: flex;
#   text-align: center;
#   flex-direction: column;
#   font-family: "Lucida Console", "Courier New", monospace;
#   font-size: 60px;
#   color: black;
#   background-color: white;

# }

# .second {
#   padding: 50px;
#    max-width: 50%;
#    background: white;
# }

# .third {
#   outline: none;
#   user-select: none;
#   color: $color-dark;
#   font-family: "Lucida Console", "Courier New", monospace;
#   font-size: 4rem;
#   letter-spacing: 0.04rem;
#   padding: 1.5rem 3rem;
#   cursor: pointer;
#   border-radius: .4rem;
#   border: .3rem solid $color-dark;
#   background: $color-light;
#   position: relative;
#   overflow: hidden;
#   padding: 10px;
#   background: white;
# }

#   &::after {
#     content: '';
#     position: absolute;
#     width: 100%;
#     height: 100%;
#     top: 0;
#     left: 0;
#     transform: scale(0);
#     transition: transform $dur ease-in;
#     mix-blend-mode: difference;
#     //Gradient start values are somewhat arbitrary. But this seemed a good fit to avoid overly-blurry circle edge.
#     background: radial-gradient(
#       circle at center,
#       $color-light 24%,
#       $color-dark 25%,
#       $color-dark 100%);
#   }

#   box-shadow: 0 5px 0 0 $color-dark;
#   &:active {
#     top: 5px;
#     box-shadow: none;
#   }
# }

@media (max-width: 768px) {
  /* Add responsive styles here */
  .third {
    padding: 1.5rem 1.5rem; /* Adjust padding for smaller screens */
  }
}

.first {
  overflow: hidden; /* Add overflow property */
}

.third {
  overflow: hidden; /* Add overflow property */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1rem;
  margin: 0.5rem;
}



.smasb

{
  color: white;
}

button {
  width: 300px;
  --border: 5px;    /* the border width */
  --slant: 0.7em;   /* control the slanted corners */
  --color: #37E8FC; /* the color */

  font-size: 35px;
  padding: 0.4em 1.2em;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: var(--color);
  background:
     linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
     linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
  background-repeat: no-repeat;
  box-shadow:
    0 0 0 200px inset var(--s,#0000),
    0 0 0 var(--border) inset var(--color);
  clip-path:
      polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
              100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
             );
  transition: color var(--t,0.3s), background-size 0.3s;
}
button:focus-visible {
  outline-offset: calc(-1*var(--border));
  outline: var(--border) solid #000c;
  clip-path: none;
  background-size: 0 0;
}
button:hover,
button:active{
  background-size: 100% 100%;
  color: #fff;
  --t: 0.2s 0.1s;
}
button:active {
  --s: #0005;
  transition: none;
}

.righto {
 display: flex;
 justify-content: space-between;
  padding-bottom: 20px;
  background: white;
}


.textt {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  /* Styles for mobile devices */
  .righto {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
  }

  button {
    height: 22px;
    font-size: 15px;
  }

.third {
  font-size: 1.2rem;
}

p {
  color: white;
}

  /* Add more styles as needed for smaller screens */
}

@media only screen and (min-width: 601px) {
  /* Styles for larger screens */
  .righto {
    justify-content: space-between;
  }

  /* Add more styles as needed for larger screens */
}

canvas {
  width: 100%;
  height: 100px;
  background-color: white;
}
.playButton {
  text-decoration: none;
}

.redder {
  display: flex;
   padding-bottom: 1px;
   font-size: 40px;
   padding-top: 20px;
}

</style>



<body>
<div data-controller="home">
<div class="righto">
<%= link_to drumlabs_path, class: 'btn-link' do %>
  <button>Drum Labs</button>
<% end %>
<%= link_to spatialaudios_path, class: 'btn-link' do %>
  <button>Spatial Audio</button>
<% end %>
</div>

<div class="righto">
<%= link_to theories_path, class: 'btn-link' do %>
  <button>Theory</button>
<% end %>
<%= link_to synthlabs_path, class: 'btn-link' do %>
  <button>Synth Labs</button>
<% end %>
</div>
  <div data-controller="waver">
  <div class="redder">
  <div id="playButton">&#9658;</div>
  <div id="pauseButton"> &#9724;</div>
  </div>



  <canvas id="waveformCanvas"></canvas>
  </div>
<div class="first">
  FUNDAMENTALS
<div class="second">
  <div class="third">
  <%= link_to "Volume", vols_path, class: "second" %>
  </div>
  <div class="third">
  <%= link_to "Gain", volumes_path, class: "second" %>
  </div>
</div>
</div>
<div class="first">
  Level 1
<div class="second">
<div class="third">
<%= link_to "Panner", panners_path, class: "second" %>
</div>
<div class="third">
<%= link_to "Delay", delays_path, class: "second" %>
</div>
<div class="third">
<%= link_to "Ping Delay", pings_path, class: "second" %>
</div>
<div class="third">
<%= link_to "Compression", compressors_path, class: "second" %>
  </div>
</div>
  <div class="first">
  Level 2
<div class="second">
  <div class="third">
  <%= link_to "Equalisation", eqs_path, class: "second" %>
  </div>
  <div id="textt-box">
  <p id="textt"></p>
</div>
</div>
    <div class="first">
  Level 3
<div class="second">
<div class="third">
<%= link_to "ADSR", adsrs_path, class: "second" %>
</div>
<div class="third">
<%= link_to "Phaser", phasers_path, class: "second" %>
</div>
</div>
 <div class="first">
  Level 4
<div class="second">
<div class="third">
<%= link_to "Reverb", freeverbs_path, class: "second" %>
</div>
<div class="third">
<%= link_to "Tremolo", tremelos_path, class: "second" %>
</div>
</div>
  <div class="first">
  Level 5
<div class="second">
<div class="third">
<%= link_to "Vibrato", vibratos_path, class: "second" %>
</div>
<div class="third">
<%= link_to "Chorus", chorus_path, class: "second" %>
</div>
<div class="third">
<%= link_to "Autowah", autowahs_path, class: "second" %>
</div>
  </div>
    <div class="first">
  Level 6
<div class="second">
<div class="third">
<%= link_to "Limiter", limiters_path, class: "second" %>
</div>
</div>
</div>
</div>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
  </div>
  </div>
  </div>

  <footer class="bg-dark text-white pt-4 footer-courier">
  <div class="container">
      <div class="row">
          <!-- Column 1: About -->
          <div class="col-md-4">
              <h5>About Us</h5>
              <p>We are a leading company in providing innovative solutions to real-world problems. Join us on our journey!</p>
          </div>
          <!-- Column 2: Quick Links -->
          <div class="col-md-4">
              <h5>Quick Links</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Home</a></li>
                  <li><a href="#" class="text-white">About</a></li>
                  <li><a href="#" class="text-white">Serv</a></li>
                  <li><a href="#" class="text-white">Contact</a></li>
              </ul>
          </div>
          <!-- Column 3: Social Icons -->
          <div class="col-md-4">
              <h5>Follow Us</h5>
              <a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a>
              <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
              <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
              <a href="#" class="text-white me-3"><i class="fab fa-linkedin"></i></a>
          </div>
      </div>
      <hr class="bg-white">
      <div class="row">
          <div class="col text-center">
              <p class="mb-0">&copy; 2024 Your Company. All rights reserved.</p>
          </div>
      </div>
  </div>
</footer>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>



</body>
